.Publication {
  &__description {
    margin-bottom: 20px;
  }
}

.EditFormats {
  [class*="Row-"] {
    margin: 0;
    padding: 10px 0;
    div[class^="Col-"] {
      padding-left: 0;
    }
  }
  input[name='release_year'] {
    width: 3em;
  }
  input {
    border-bottom: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding-bottom: 2px;
    font-size: 1em;
  }
  .Button {
    margin-top: 10px;
  }
}

.EditText .plain-text {
  border-bottom: 2px solid #ddd;
  padding-bottom: 2px;
}
