.ProjectHeader {
  .h1 {
    font-size: 3em;
    margin-top: -5px;
  }
}

.editModal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EditModal__inputs {
  background: white;
  border: 1px solid;
  padding: 20px;
  z-index: 10;
}

.EditFormat {
  &[class*="Row-"] div[class^="Col-"] {
    padding-left: 0;
  }
  input[name='release_year'] {
    width: 3em;
  }
}