body {
  margin: 0;
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif'
}

a {
  color: blue;
  text-decoration: underline;
}

.loading {
  padding: 20px;
}

p {
  margin: 10px 0;
  min-height: .5em;
}

h4 {
  margin: 0;
}

.modal__bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1
}
