body {
  margin: 0;
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif'
}

a {
  color: blue;
  text-decoration: underline;
}

.loading {
  padding: 20px;
}

p {
  margin: 10px 0;
  min-height: .5em;
}

h4 {
  margin: 0;
}