.AboutEdit {
  &__cover-image {
    .rich-text,
    .public-DraftEditorPlaceholder-root {
      color: #ddd;
      text-align: right;
    }
  }
}
.about {
  &__social {
    font-size: 90%;
    padding: 1em 0 4em;
    .social-links {
      display: flex;
    }
    a {
      margin-right: 1em;
      text-decoration: none;
      color: black;
    }
    .fa {
      margin-right: 5px;
    }
  }
  iframe {
    width: 100%;
  }
}
