.about {
  &__social {
    font-size: 90%;
    margin: 1em 0;
    .social-links {
      display: flex;
    }
    a {
      margin-right: 1em;
      text-decoration: none;
      color: black;
    }
    .fa {
      margin-right: 5px;
    }
  }
}


.edit-social {
  position: relative;
  &__input {
    border: 1px solid;
    position: absolute;
    background: white;
    z-index: 2;
    padding: 10px;
    top: 1.75em;
    display: flex;
    input {
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: 1px solid;
      font-size: .9em;
      padding-left: 5px;
    }
    &::before {
      content: '.';
      color: transparent;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 16px solid white;
      position: absolute;
      top: -16px;
      left: 7px;
      z-index: 2;
    }
    &::after {
      content: '.';
      color: transparent;
      width: 0;
      height: 0;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 17px solid black;
      position: absolute;
      top: -17.5px;
      left: 5px;
      z-index: 1;
    }
  }
}
