.event--edit {
  nav {
    position: fixed;
    right: 5em;
    top: 10px;
    z-index: 100;
  }
  &__date {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 1.5em;
    button {
      margin-left: 10px;
      font-size: .75em;
      padding: 4px 10px;
    }
  }
  &__date-input {
    .actions {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .actions--toggle {
      display: flex;
    }
  }
  &__venue-input {
    flex-direction: column;
    .field-group {
      display: flex;
      div[class*='input--'] {
        &:first-child {
          flex: 1;
          margin-right: 12px;
        }
        &:nth-child(2) {
          margin-right: 5px;
        }
      }
    }
    input, select {
      font-size: inherit;
      font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
      width: 100%;
      margin-bottom: 5px;
      &::placeholder {
        text-transform: capitalize;
      }
    }
  }
  .event-images__item {
    position: relative;
    .remove--image {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &__placeholder {
    opacity: .5;
  }
  textarea[name='title'] {
    font-size: xx-large;
    font-weight: 700;
    border: none;
    width: 100%;
  }
  input[type='date'],
  input[type='time'] {
    font-size: inherit;
    font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
  }
  .input--date.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
    label {
      width: 90px;
    }
  }
  .input--check {
    margin-left: 1em;
  }

  &__link,
  &__date,
  &__venue {
    position: relative;
  }
  &__link-input,
  &__date-input,
  &__venue-input {
    border: 1px solid;
    position: absolute;
    background: white;
    z-index: 2;
    padding: 10px;
    top: 1.75em;
    &::before {
      content: '.';
      color: transparent;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 16px solid white;
      position: absolute;
      top: -16px;
      left: 7px;
      z-index: 2;
    }
    &::after {
      content: '.';
      color: transparent;
      width: 0;
      height: 0;
      border-left: 17px solid transparent;
      border-right: 17px solid transparent;
      border-bottom: 17px solid black;
      position: absolute;
      top: -17.5px;
      left: 5px;
      z-index: 1;
    }
  }
  &__link {
    button {
      margin-left: 10px;
      font-size: 75%;
    }
  }
  &__link-input button {
    margin: 0;
  }
}