.DatesEdit {
  &__dates {
    padding-bottom: 20px;
  }
  &__check-inputs {
    display: flex;
    .CheckboxInput {
      margin-right: 20px;
    }
  }
  input {
    border: none;
    border-bottom: 2px solid #ddd;
    font-size: .9em;
    padding-bottom: 2px;
    font-family: inherit;
  }

  div[class*="Row-"] {
    div[class*="Col-"]:first-child {
      padding-left: 0;
    }
    div[class*="Col-"]:last-child {
      padding-right: 0;
    }
  }
}