.Publications__compilations {
  margin-top: 5em;
}

.Publications {
  .ShowFormats {
    .ShowFormat {
      margin-bottom: 0;
    }
    &[data-condensed=true] {
      display: flex;
      .ShowFormat:first-child {
        margin-right: 20px;
      }
    }
  }
}
