input:focus,
textarea:focus {
  outline: none;
}
input::placeholder,
textarea::placeholder,
.public-DraftEditorPlaceholder-inner {
  color: gray;
}

.EditModalContainer {
  position: relative;
}

.EditModal {
  position: absolute;
  z-index: 100;
  border: 1px solid;
  background: white;
  padding: 10px;
  top: 1.75em;
  left: -10px;

  &::before {
    content: '.';
    color: transparent;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 16px solid white;
    position: absolute;
    top: -16px;
    left: 7px;
    z-index: 2;
  }

  &::after {
    content: '.';
    color: transparent;
    width: 0;
    height: 0;
    border-left: 17px solid transparent;
    border-right: 17px solid transparent;
    border-bottom: 17px solid black;
    position: absolute;
    top: -17.5px;
    left: 5px;
    z-index: 1;
  }
}
