body {
  font-family: 'helvetica neue', 'helvetica', 'arial', 'sans-serif';
  font-size: 16px;
  line-height: 1.2em;
  letter-spacing: .015em;
}

a {
  color: blue;
  text-decoration: underline;
  &:hover {
    color: darkblue;
  }
}


h1, .h1 {
  font-size: 2em;
  margin-top: 0.35em;
  margin-bottom: 0.35em;
  font-weight: 400;
  line-height: 1.2em;
}

h2, .h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: 400;
  line-height: 1.2em;
}

h3, .h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 400;
  line-height: 1.2em;
}

h4, .h4 {
  margin: 0;
  font-weight: 400;
  line-height: 1.2em;
}

h5, .h5 {
  font-size: 0.83em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: 400;
  line-height: 1.2em;
}

h6, .h6 {
  font-size: 0.83em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  line-height: 1.2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .045em;
}

p,
.p .public-DraftStyleDefault-block,
.p .public-DraftEditorPlaceholder-root {
  padding: .75em 0;
  margin: 0;
  line-height: 1.4em;
}

.plain-text {
  position: relative;
  .public-DraftEditorPlaceholder-root {
    position: absolute;
  }
}
