@import "components";
@import 'typography';

@-ms-viewport{
  width: device-width;
}

div[class*="Row-"] {
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  div[class^="Col-"] {
    padding-left: 20px;
    padding-right: 20px;
  }
}
