@media screen and (max-width: 46rem) {
  .Header {
    display: block;
    nav a:first-child {
      margin-left: 0;
    }
    &[data-fixed=true] {
      .nav {
        margin: 15px 0 10px 0;
      }
    }
  }
}