.events-list {
	nav {
		position: absolute;
		top: 10px;
		right: 5em;
	}
	&__header {
		padding: 2em 20px;
	}
	&__item {
		a {
			border-top: 1px solid;
			width: 100%;
			display: block;
			padding: 10px 20px;
			text-decoration: none;
		}
		&:last-child a {
			border-bottom: 1px solid;
		}
	}
}