.events-list {
  nav {
    position: fixed;
    top: 10px;
    right: 5em;
    z-index: 100;
  }
  &__header {
    padding: 2em 20px 1em 20px;
    margin: 0;
    &:first-child {
      padding-top: 0;
    }
  }
  &__list {
    margin-bottom: 1em;
  }
  &__item {
    a {
      border-top: 1px solid;
      width: 100%;
      display: block;
      padding: 10px 20px;
      text-decoration: none;
      max-width: calc(100% - 40px);
    }
    &:last-child a {
      border-bottom: 1px solid;
    }
  }
}

.events-grid {
  &__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 20px 20px;
  }
  &__item {
    flex: 1;
    margin-right: 40px;
    margin-bottom: 40px;
    min-width: 300px;
    a {
      text-decoration: none;
    }
    h2 {
      margin-bottom: .5em;
      margin-top: 0;
    }
    .event-teaser {
      &__header {
        flex-direction: column;
      }
    }
  }
}