div[class*="Row-"].LayoutColumn {
  padding: 0 calc(20px - .5em);
  margin-bottom: 4em;
}

.LayoutColumn {
  &__label {
    font-weight: 600;
    margin-bottom: 1em;
    a {
      text-decoration: none;
    }
  }
  &__item {
    margin: 0 auto 0 0;
  }

  .ImageShow {
    margin-bottom: 1em;
  }
}
