div[class*="Row-"].LayoutGrid {
  padding: calc(20px - .5em);
  margin-bottom: 4em;
}

.LayoutGrid {
  &__label {
    font-weight: 600;
    margin-bottom: 10px;
    a {
      text-decoration: none;
    }
  }
  &__item {
    margin: 0 auto;
  }
  &__media {
    margin-right: 30px;
    max-width: 450px !important;
  }

  .ImageShow {
    margin-bottom: 1em;
  }
}
