@import "column";
@import "grid";

.Item {
  .LinksList {
    margin-top: calc(2em - 10px);
    margin-bottom: 2em;
  }
}
.ItemHeader {
  margin-bottom: 2em;

  .h1 {
    margin-top: -6px;
  }
  .h6, h6 {
    margin: 0;
  }

  .ImageShow {
    margin-top: 2em;
  }
}

.Label {
  font-weight: 600;
  padding-bottom: 15px;
  display: block;
  a {
    text-decoration: none;
  }
}