.event--show {
  h1 {
    margin: 0;
    padding-bottom: .75em;
  }
  &__header {
    margin-bottom: 2em;
  }
  &__description {
    margin-bottom: 2em;
  }
}

.event-teaser {
  &__header {
    display: flex;
    h4:first-child {
      flex: 1;
    }
    h4:nth-child(2) {
      flex: 4;
    }
  }
}

.event-venue {
  padding: .5em 0;
}