.ItemsList {
  margin-bottom: 3em;

  &__header h5 {
    margin-top: 0;
  }

  a {
    color: black;
    &:hover {
      color: #999;
    }
  }

  // Table layout
  &.table {
    .ListItem {
      .Item {
        border-top: 1px solid black;
        padding: .5em 10px;
      }
      &:last-child {
        .Item {
          border-bottom: 1px solid black;
        }
      }
    }
  }

  // Grid layout
  &.grid {
    .Item {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}


.ListItem {
  &[data-published="false"] {
    opacity: .65;
  }
  a {
    text-decoration: none;
  }
  h1, h2, h3, h4, h5 {
    margin: 0.5em 0;
  }
}

.ItemRow {
  margin-bottom: 1em;
}
