.event {
  &__image {
    max-width: 40vw;
    margin: 0 1em;
    min-width: 300px;
  }
  &__body {
    margin-bottom: 2em;
  }
  &__header {
    margin-bottom: 2em;
  }
  &__description {
    margin-bottom: 2em;
  }
  @media screen and (max-width: 800px) {
    .event__image {
      min-width: 100%;
      max-width: calc(100% -2em);
      img {
        max-height: 77vh;
        max-width: 100%;
        width: auto;
        height: auto;
      }
    }
  }
}

.event--show {
  display: flex;
  h1 {
    margin: 0;
    padding-bottom: .75em;
  }
}

.event--edit__form {
  display: flex;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }
}

.event-teaser {
  &__header {
    display: flex;
    h4:first-child {
      flex: 1;
    }
    h4:nth-child(2) {
      flex: 4;
    }
  }
}

.event-venue {
  padding: .5em 0;
}